table.GWTCSample {
   margin-left: auto;
   margin-right: auto;
   width: 45em;
   text-align: center;
   font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
   font-size: 10pt;
}
table.GWTCSample>tbody>tr>td > *{
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

table.GWTCSample td.InfoCell{
   margin-top: 10em;
   background-color: #d0e6ff; 
   text-align: left;
   vertical-align: top;
   
   padding-top: 16px;
   padding-bottom: 8px;
   padding-right: 8px;
   padding-left: 8px;
   
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #777777; 
   
   border-botom-width: 1px;
   border-botom-style: solid;
   border-botom-color: #777777; 
}

.GWTCSample .gwtc-button {
}
.GWTCDatePickerCheckout, .GWTCDatePickerCheckin {
  border: 6px solid #d0e6ff;
}
