body {
	font-family: Verdana, Arial;
	font-size: 12px;
}

table.GWTCSample {
   margin-left: auto;
   margin-right: auto;
   width: 45em;
   text-align: center;
   font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
   font-size: 10pt;
}

table.GWTCSample td.InfoCell{
   margin-top: 10em;
   background-color: #d0e6ff; 
   text-align: left;
   vertical-align: top;
   
   padding-top: 16px;
   padding-bottom: 8px;
   padding-right: 8px;
   padding-left: 8px;
   
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #777777; 
   
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #777777; 
}

.GWTCSample .my-btn, .GWTCSample .x-btn {
	margin-left: auto;
	margin-right: auto;
}

.GWTCDatePicker, .GWTCDatePickerCheckout, .GWTCDatePickerCheckin {
  border: 6px solid #d0e6ff;
  background: white;
}

