table.GWTCSample {
   margin-left: auto;
   margin-right: auto;
   width: 55em;
   text-align: center;
   font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
   font-size: 10pt;
}
table.GWTCSample .InfoRow {
   border-top-width: 1px;
   boder-top-style: solid;
   border-top-color: #777777;
}
table.GWTCSample>tbody>tr>td > *{
   margin-top: 1em;
}

table.GWTCSample td.InfoCell{
   margin-top: 1em;
/*   background-color: #fff4de; */
   text-align: left;
   vertical-align: top;
   padding-top: 16px;
   
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #777777; 
}

.GWTCSample .gwtc-button {
//width: 100%;
}
