/*
.gwtc-btn {
	background: url(images/gwtc-button-bg.jpg) repeat-x bottom;
}
.gwtc-btn-over, .gwtc-btn-active {
	background: url(images/gwtc-button-bg-over.jpg) repeat-x bottom;
}
*/	
.my-btn, .gwtc-btn {
	cursor: pointer;
}

.gwtc-btn-over, .gwtc-btn-active {
	background-color: #d0e6ff;
}

.my-btn {
   height: 21px;
   cursor: pointer;
   -moz-user-select: none;
   user-select: none;
   font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
   font-size: 10pt;
   text-align : center;
   margin-left: auto;
   margin-right: auto;
}

.my-btn-ml {
	padding-right: 5px;
}
.my-btn-img {
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.my-btn-text {
	color: black;
	font-size: 12px;
	white-space: nowrap;
	text-align: center;
}
.my-btn-mr {
	padding-left: 5px;
}

.my-btn-l {
	height: 21px;
	background: url(images/button/btn.gif) no-repeat;
}
.my-btn-ml, .my-btn-c, .my-btn-mr {
	background: url(images/button/btn.gif) repeat-x 0px -21px;
}
.my-btn-r {
	background: url(images/button/btn.gif) no-repeat top right;
}


.my-btn-over .my-btn-l {
	background-position: 0px -42px;
}
.my-btn-over .my-btn-ml,
.my-btn-over .my-btn-c,
.my-btn-over .my-btn-mr {
	background-position: 0px -63px;
}
.my-btn-over .my-btn-r {
	background-position: right -42px;
}

.my-btn-down .my-btn-l {
	background-position: 0px -84px;
}
.my-btn-down .my-btn-ml,
.my-btn-down .my-btn-c,
.my-btn-down .my-btn-mr {
	background-position: 0px -105px;
}
.my-btn-down .my-btn-r {
	background-position: right -84px;
}

.my-btn-disabled {
	cursor: default;
	color: #707070;
}
.my-btn-disabled .my-btn-l {
	background-position: 0px -126px;
}
.my-btn-disabled .my-btn-ml, 
.my-btn-disabled .my-btn-c,  
.my-btn-disabled .my-btn-mr {
	background-position: 0px -147px;
}
.my-btn-disabled .my-btn-r {
	background-position: right -126px;
}


