

.prg-title {
      font-weight: bold;
  }
  
.prg-numbers,   .prg-time {
      font-size: 12px;
      font-style: italic;
  }
  
.prg-bar-outer {
      border: 1px solid grey;
}
  
.prg-bar-inner {
      border: 1px solid black;
      margin: 1px;
}
  
.prg-bar-element {
      width: 5px;
      height: 15px;
      margin: 1px;
}
  
.prg-bar-done {
      background: #83ae76;
}
  
.prg-bar-blank {
      background: #eee;
}

div.GWTCProgress.prg-dialog{
  border: solid 3px pink;
  z-index: 999;
  font-family:  "Trebuchet MS", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color:  white;
}

.prg-numbers {
	width: 150px;
}
