/*
 * Basic CSS for the GWTCAlert widget
 */

.GWTCAlert {
   z-index: 999;
   font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
   font-size: 12pt;
   
   border : 5px solid #ff4a26 !important;
   background : #fff; /* url(images/gwtc-alert-bg.jpg) repeat-x bottom;*/
   color : #000;
   padding :  4px 10px 10px 10px;
   text-align : center;
   width : 230px;
   /*
   margin-left : -115px;
   position : absolute;
   top : 40%;
   left : 50%;
   */
}
.GWTCAlert .Caption {
  display: none;		
}
.GWTCAlert .gwtc-alert-cell-msg {
   padding : 8px 0 40px 0;width : 230px;
}
.GWTCAlert td {
   text-align : center;
}
.GWTCAlert button.gwtc-alert-button { 
  padding-left: 5px;
  padding-right: 5px;
  background : #dfdfdf url(images/gwtc-button-bg.jpg) repeat-x bottom;
}
.GWTCAlert button.gwtc-alert-button:hover,
.GWTCAlert button.gwtc-alert-button.gwtc-Hover { 
  padding-left: 5px;
  padding-right: 5px;
  background : #dfdfdf url(images/gwtc-button-bg-over.jpg) repeat-x bottom;
}

table.gwtc-alert-rndbutton {
   margin-left: auto;
   margin-right: auto;
}
