.GWTCIntervalSelector * {
  font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  vertical-align: middle;
}
/*
table.GWTCIntervalSelector {
	width: 100%;
	margin-top: 10px;
}
*/

.GWTCIntervalSelector .GWTCIntervalLayout1 table.DateInfo, 
.GWTCIntervalSelector .GWTCIntervalLayout1 table.DateChanger {
	margin-left: auto;
	margin-right: auto;
	width : 20em; 
	border-collapse : collapse; 
}
.GWTCIntervalSelector .GWTCIntervalLayout1 table.DateInfo {
	border : 1px solid #ddd;  
}
.GWTCIntervalSelector .GWTCIntervalLayout1 tr.CheckinInfo  {
	background : #dfdfdf;
}
.GWTCIntervalSelector .GWTCIntervalLayout1 .DateChanger div.gwt-Label {
  text-align: right;
}

.GWTCIntervalSelector table.GWTCIntervalLayout2, 
.GWTCIntervalSelector table.GWTCIntervalLayout3,
.GWTCIntervalSelector table.GWTCIntervalLayout1 {
	border : 1px solid #dfdfdf; 
}

.GWTCIntervalSelector .checkinButton,
.GWTCIntervalSelector .checkoutButton {
    border : none;
    background : #f5f5f5 url(images/gwtc-calendar.gif) no-repeat left center;
    cursor : pointer;
}

.GWTCIntervalSelector .checkinButton, .GWTCIntervalSelector .checkoutButton
{
    padding-left: 16px;
}

.GWTCIntervalSelector .checkinButton:hover, .GWTCIntervalSelector .checkoutButton:hover 
{
	background: #dfdfdf url(images/gwtc-calendar.gif) no-repeat left center;
	color : #f60; 
}

.GWTCIntervalLayout2 .checkinLabel, .GWTCIntervalLayout2 .checkoutLabel, .GWTCIntervalLayout2 .durationLabel, 
.GWTCIntervalLayout3 .checkinLabel, .GWTCIntervalLayout3 .checkoutLabel, .GWTCIntervalLayout3 .durationLabel, 
.GWTCIntervalLayout4 .checkinLabel, .GWTCIntervalLayout4 .nightsLabel 
{
	font-weight: bold; color : #000;
}
.GWTCIntervalLayout4 .checkoutDateLabel 
{
	padding-left: 4px;
}


/*
.GWTCIntervalLayout2 tr.CheckinInfo td,
.GWTCIntervalLayout2 tr.CheckoutInfo td,
.GWTCIntervalLayout2 tr.DateInfo td,
.GWTCIntervalLayout2 tr.DateSelect td  {	
	padding-left: 10px;
}
*/
.GWTCIntervalSelector .checkinWeekLabel, .GWTCIntervalSelector .checkoutWeekLabel  {
    padding: 0px 5px;
} 
