.GWTCDatePicker {
  z-index: 99;
  font-family:  "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
  border: 4px solid #f0f0f0; 
  background-color: white;
  width: auto;
}
.GWTCDatePicker * {
  font-size: 8pt;
}
.GWTCDatePicker .Caption {
  background: #000 url(images/gwtc-cpicker-bg-title.png) repeat-x top;
  padding: 4px;
  padding-bottom: 8px;
  font-weight: bold;
  color : #fff;
  cursor: move;
  text-align : center;
}
.GWTCDatePicker .panelButtons {
  vertical-align: middle;
  border-bottom: 1px solid #ACA899;
}
.GWTCDatePicker .topButtons {
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
}
.GWTCDatePicker .panelButtons .header {
  background-color: #fff;
  cursor: default; 
  text-align : center;
  font-weight: bold;
  min-height: 15px;
  max-height: 20px;
  padding-top: 5px;
}

.GWTCDatePicker .panelDays {
  cursor: default;
  font: 10pt sans-serif;
  text-align: center;
}
.GWTCDatePicker .panelDays .weekHeader {
  background-color: #ACA899;
}

.GWTCDatePicker .panelDays .weekHeader .cellDayNames {
  text-align : center;
  font-weight : bold;
  padding : 4px; /*This is the main responsible attribute for the datapicker width */
  background : #d0e6ff;
  border : 1px solid #fff;
}

.GWTCDatePicker .panelDays A:link    {color: black; text-decoration: none}
.GWTCDatePicker .panelDays A:visited {color: black; text-decoration: none}
.GWTCDatePicker .panelDays A:active  {color: black; text-decoration: none; cursor: wait}
.GWTCDatePicker .panelDays A:hover   {color: black; text-decoration: none}
.GWTCDatePicker .panelDays td.cellDays {
  border: none;
}
.GWTCDatePicker .panelDays div.cellDays {
  background: #fff url(images/gwtc-cpicker-bg-day.png) no-repeat center center;
  text-align: center;
  border: 1px solid #fff;
}
.GWTCDatePicker .panelDays div.cellDays:hover,
.GWTCDatePicker .panelDays    .cellDays div.gwtc-Hover, 
.GWTCDatePicker .panelDays    .cellDays div.gwtc-Active {
  background: #dfdfdf; /* url(images/gwtc-cpicker-bg-day-over.png) no-repeat center center;*/
  font-weight : bold;
}
.GWTCDatePicker .panelDays div.cellDays:active,
.GWTCDatePicker .panelDays    .cellDays div.gwtc-Active {
  cursor: wait;	
  background: pink;
  padding : 0px;
}
.GWTCDatePicker .panelDays div.cellDays {
  width: 100%;
  height: 100%;
  line-height: 2em;
}
.GWTCDatePicker .panelDays div.cellEmpty {
  background-color: white;
} 
.GWTCDatePicker .panelDays div.invalidDay, 
.GWTCDatePicker .panelDays div.invalidDay:hover {
  cursor: default;
  text-decoration: line-through;
  color : #999;
  background : #fff;
  font-weight : normal;
} 

.GWTCDatePicker .panelDays div.today {
  cursor: pointer;
  background: #fff url(images/gwtc-cpicker-bg-today.png) no-repeat center center;
}
.GWTCDatePicker .panelDays div.today:hover {
  cursor: pointer;
  background: #fff url(images/gwtc-cpicker-bg-day-over.png) no-repeat center center;
}
.GWTCDatePicker .panelDays div.beforeSelected {
  cursor: pointer;
}
.GWTCDatePicker .panelDays div.selectedDay,
.GWTCDatePicker .panelDays div.selectedDay:hover,
.GWTCDatePicker .panelDays    .selectedDay div.gwtc-Hover {
  cursor: default;
  background-color : #dfdfdf;
  background: #fff url(images/gwtc-cpicker-bg-selected.png) no-repeat center center;
  font-weight: normal;
}
.GWTCDatePicker .panelDays div.afterSelected {
  cursor: pointer;
}

.GWTCDatePicker-help .GWTCBox {
	font-size: 9pt;
}

.GWTCDatePicker-box, 
.GWTCDatePicker-box .panelButtons .header,
.GWTCDatePicker-box .Caption {
  background: transparent;
}
.GWTCDatePicker-box .Caption {
	height: 16px;
}
.GWTCDatePicker-box  {
  border: none;
}

.GWTCDatePicker .my-btn-c {
  width: 100%;
}



/*
.GWTCDatePicker .Cal_Buttons .gwt-Button {
  padding-left: 5px;
  padding-right: 5px;
  background : #dfdfdf url(images/gwtc-button-bg.jpg) repeat-x bottom;
}
.GWTCDatePicker .Cal_Buttons .gwt-Button:hover, 
.GWTCDatePicker .Cal_Buttons .gwt-Button.gwtc-Hover {
  padding-left: 5px;
  padding-right: 5px;
  background : #dfdfdf url(images/gwtc-button-bg-over.jpg) repeat-x bottom;
}
*/


